.popup__input {
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  border: 0;
  max-width: 358px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 36px;
  padding: 0;
  box-sizing: border-box;
  height: 27px;
}
@media screen and (max-width: 370px) {
  .popup__input {
    margin: 0 22px;
  }
}
