.profile {
  max-width: 880px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 912px){
  .profile {
    padding-left: 27px;
    padding-right: 27px;
  }
}
