.profile__profession {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (max-width: 825px) {
  .profile__profession {
    font-size: 14px;
    padding-right: 38px;
    text-align: center;
  }
}
