.profile__edit-button {
  background: url(../../../images/profile/edit_button.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  padding: 11px;
  margin: auto 0 auto 18px;
  display: flex;
  align-self: flex-start;
}
.profile__edit-button:hover {
  opacity: 0.6;
  transition: visibility 0s, opacity 0.1s linear;
  cursor: pointer;
}
@media screen and (max-width: 725px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 7.5px;
    height: 7.5px;
    padding: 8px;
  }
}
@media screen and (max-width: 542px) {
  .profile__edit-button {
    margin-left: 10px;
  }
}
