.popup-add-card__button {
  margin: 0 36px 37px;
  max-width: 358px;
  min-height: 50px;
  color: #fff;
  border: 0;
  border-radius: 2px;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
}
.popup-add-card__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 370px) {
  .popup-add-card__button {
    font-size: 14px;
    margin: 0 22px 25px;
  }
}
