.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  padding: 34px 64px 54px 36px;
  margin: 0;
}
@media screen and (max-width: 445px) {
  .popup__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .popup__title {
    padding: 25px 22px 75px;
  }
}
